/* .hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #bbb;
  margin: 86.6px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.6px solid #bbb;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.6px solid #bbb;
} */

.hex {
  float: left;
  margin-left: 3px;
  margin-bottom: -26px;
}
.hex .top {
  width: 0;
  border-bottom: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex .middle {
  width: 104px;
  height: 60px;
  background: #6C6;
}
.hex .bottom {
  width: 0;
  border-top: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex-row {
  clear: left;
}
.hex-row.even {
  margin-left: 53px;
}